@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #121212;
  --text-color: #ffffff;
  --card-border-color: #2a2a2a;
  --text-shadow-color: #07df00; /* New variable */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Add more global styles as needed */
